<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报名列表</title>
</head>
<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    function deleteActivity(activityId, activityName){
        if( confirm("确定要删除以下内容？\n"+activityName)){
            if( confirm("一旦删除便无法恢复，真的确定吗？")){
                var aj = $.ajax( {
                    url:"{:U('Activity/deleteActivity')}",
                    data:{
                        id : activityId
                    },
                    type:'post',
                    cache:false,
                    dataType:'json',
                    success:function(data) {
                        if(data.msg == true ){
                            alert("删除成功！");
                            window.location.reload();
                        }else{
                            alert("删除失败！");
                        }
                    },
                    error : function() {
                        alert("异常！");
                    }
                });
            }
        }
    }
</script>
<body>
<div class="container">
    <div class="page-header">
        <a href="{:U('Activity/editActivity')}">添加报名</a>
    </div>

    <table class="table">
        <tbody>
            <foreach name="activityList" item="v">
                <tr>
                    <td></td>
                    <td>{$v.title}</td>
                    <td><a href="{:U('Activity/editActivity', array('id'=>$v['id']))}">修改</a></td>
                    <td><a href="#" onclick="deleteActivity('{$v.id}', '{$v.activity_name}')">删除</a></td>
                    <td>
                        <if condition="$v['is_pushed'] neq 1">
                            <a href="{:U('Activity/pushActivity', array('id'=>$v['id']))}">推送</a>
                            <else />
                            <a href="{:U('Activity/deletePushedActivity', array('id'=>$v['id']))}">取消推送</a>
                        </if>
                    </td>
                </tr>
            </foreach>
        </tbody>
    </table>
</div>
</body>
</html>