<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报名列表</title>
</head>
<script type="text/javascript">
    function deleteActivity(activityId, activityName){
        if( confirm("确定要删除以下内容？\n"+activityName)){
            if( confirm("一旦删除便无法恢复，真的确定吗？")){
                var aj = $.ajax( {
                    url:"{:U('Activity/deleteActivity')}",
                    data:{
                        id : activityId
                    },
                    type:'post',
                    cache:false,
                    dataType:'json',
                    success:function(data) {
                        if(data.msg == true ){
                            alert("删除成功！");
                            window.location.reload();
                        }else{
                            alert("删除失败！");
                        }
                    },
                    error : function() {
                        alert("异常！");
                    }
                });
            }
        }
    }
</script>
<body>
<div>
    <div><a href="{:U('Activity/editActivity')}">添加报名</a></div>
    <foreach name="activityList" item="v">
        <div>
            {$v.title}
            <a>已报名列表</a>
            <a href="{:U('Activity/modifyActivity', array('id'=>$v['id']))}">修改</a>
            <a href="#" onclick="deleteActivity('{$v.id}', '{$v.activity_name}')">删除</a>
            <if condition="$v['is_pushed'] neq 1">
                <a href="{:U('Activity/pushActivity', array('id'=>$v['id']))}">推送</a>
            <else />
                <a href="{:U('Activity/deletePushedActivity', array('id'=>$v['id']))}">取消推送</a>
            </if>

        </div>
    </foreach>
</div>
</body>
</html>