<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$news.title}</title>
</head>
<body>
<style>
    /*img{*/
        /*max-width:170px;*/
        /*width:170px;*/
        /*width:expression(document.body.clientWidth>170?"170px":"auto");*/
        /*max-height:180px;*/
        /*height:180px;*/
        /*height:expression(document.body.clientWidth>180?"180px":"auto");*/
        /*overflow:hidden;*/
    /*}*/

    img{
        max-width:100%;
        width: auto;
    }

</style>


<div>
    {$news.title}
</div>
<div>
    {$news.author}
</div>
<div style="overflow:hidden; width:90%;">
    {$news.content}
</div>

</body>
</html>