<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
    <style type="text/css">

    </style>
    <title>书架</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>心密文集</h1>
    </div>
    <div class="list-group">

        <foreach name="bookList" item="book">
            <a href="{:U('Book/readChapter', array('bookId'=>$book['id'],'num'=>'1'))}" class="list-group-item">
                <h4 class="list-group-item-heading">{$book.name}</h4>
                <p class="list-group-item-text">{$book.author}</p>
            </a>
        </foreach>
    </div>
</div>

</body>

</html>