<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>章节列表</title>
</head>
<body>

<div class="container">
    <h1>{$bookName}</h1>
    <div class="pull-right">
        <a class="btn btn-default" href="{:U('Book/addChapter', array('bookName'=>$bookName, 'bookId'=>$bookId))}">添加章节</a>
    </div>
    <table class="table">
        <foreach name="chapterList" item="chapter">
            <tr>
                <td>{$chapter.num}</td>
                <td>{$chapter.title}</td>
                <td><a href="{:U('Book/modifyChapter', array('id'=>$chapter['id'], 'bookName'=>$bookName, 'bookId'=>$bookId))}">修改&nbsp;&nbsp;</a></td>
                <td><a href="{:U('Book/deleteChapter', array('id'=>$chapter['id']))}">删除</a></td>
            </tr>
        </foreach>
    </table>
</div>

</body>
</html>