<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍信息</title>
</head>
<body>
<form action="{:U('Book/editBookHandler')}" method="post">
    <table>
        <tr><td>
            <input type="hidden" name="id" value="{$book.id}"/>
        </td></tr>
        <tr><td>
            书名：<input name="name" value="{$book.name}"/>
        </td></tr>
        <tr><td>
            序号：<input name="num" value="{$book.num}"/>
        </td></tr>
        <tr><td>
            作者：<input name="author" value="{$book.author}"/>
        </td></tr>
        <tr><td>
            <input type="submit" value="提交"/>
        </td></tr>
    </table>
</form>
</body>
</html>