<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Admin/Index/index')}"><strong style="font-size:30px;color:black;">印心精舍后台管理</strong></a>
        </div>
        <div class="pull-right text-right">
            <a href="{:U('News/newsList')}">推送管理</a>&nbsp;&nbsp;
            <a href="{:U('Activity/activityList')}">活动报名</a>&nbsp;&nbsp;
            <a href="{:U('Book/bookList')}">文集管理</a>&nbsp;&nbsp;
            <a href="{:U('Video/videoSetList')}">影音管理</a>&nbsp;&nbsp;
        </div>
    </div>
</nav>

</body>

</html>
