<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
    window.onload = function(){
        window.UEDITOR_CONFIG.initialFrameHeight=300;//编辑器的高度
        UE.getEditor('content');
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>添加笔记</title>
</head>
<body>

</body>
</html>