<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset=utf-8 />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">
    <title></title>
    <script src="__PUBLIC__/Jcrop/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Jcrop/js/jquery.Jcrop.js"></script>
    <script src="__PUBLIC__/Jcrop/jcrop.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Jcrop/demos/demo_files/main.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Jcrop/demos/demo_files/demos.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Jcrop/css/jquery.Jcrop.css" type="text/css" />

    <script type="text/javascript">

        $(document).ready(function(){
            //选择文件成功则提交表单
            $("#upload_file").change(function(){
                if($("#upload_file").val() != '') $("#submit_form").submit();
            });
            //iframe加载响应，初始页面时也有一次，此时data为null。
            $("#exec_target").load(function(){
                var data = $(window.frames['exec_target'].document.body).find("textarea").html();
                //若iframe携带返回数据，则显示在feedback中
                if(data != null){
                    $("#preview").append(data.replace(/&lt;/g,'<').replace(/&gt;/g,'>'));
                    $("#upload_file").val('');
                    document.getElementById("imgNamePost").value =  '{$imgName}';

                    $('#cropbox').Jcrop({
                        aspectRatio: 1,
                        onSelect: updateCoords
                    });
                }
            });
        });

        $(function(){
            $('#cropbox').Jcrop({
                aspectRatio: 1,
                onSelect: updateCoords
            });

        });

        function showJcrop(){
            document.getElementById("newsInfoDiv").style = "display:none";
            document.getElementByid("jcropDiv").style = "display:block";
        }

        function hideJcrop(){
            document.getElementById("newsInfoDiv").style = "display:block";
            document.getElementByid("jcropDiv").style = "display:none";
        }

    </script>

</head>

<body >
<form action="{:U('News/addNewsHandler')}" method="post">
    <div id="newsInfoDiv">
        <div align="center">
            标题：<input type="text" name="title"/>
        </div>
        <div align="center">
            作者：{$Think.session.realname}
            <input type="hidden" name="author" value="{$Think.session.realname}"/>
        </div>
        <div align="center">
            摘要：<input type="text" name="abstract"/>
        </div>
        <div align="center">
            <input type="button" value="上传图片" onclick="showJcrop()"><br>
            <input type="hidden" id="imgUrl" name="img" value=""/>
            <input type="hidden" id="imgName" value="news_{$id}">
            <img src="__PUBLIC__/Image/no_image.png" id="imgView">
        </div>

        <div align="center">
            内容：<br>
            <textarea id="content" name="content"></textarea>
        </div>
        <div align="center">
            <input type="submit" value="提交"/>
        </div>
    </div>
</form>

<div id="jcropDiv" >
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="jc-demo-box">
                    <div class="page-header">
                        <ul class="breadcrumb first">
                        </ul>
                        <h1>图片截取</h1>
                    </div>
                    <!--<iframe id="exec_target" name="exec_target"></iframe>-->
                    <div id="preview">
                        <!--<img src="__PUBLIC__/Jcrop/demos/demo_files/pool.jpg" id="cropbox" />-->
                    </div>
                    <!-- This is the form that our event handler fills -->
                    <form action="{:U('Test/jcrop')}" method="post" onsubmit="return checkCoords();">
                        <input type="hidden" id="x" name="x" />
                        <input type="hidden" id="y" name="y" />
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />
                        <input type="hidden" name="imgNamePost" id="imgNamePost" />
                        <input type="submit" value="截取保存" class="btn btn-large btn-inverse" />
                    </form>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>