<!DOCTYPE html>
<html lang="en">
<meta http-equiv="X-UA-Compatible" content="IE=8,9,10">
<link href="__PUBLIC__/Shearphoto/shearphoto_common/css/ShearPhoto.css" rel="stylesheet" type="text/css" media="all">
<!--CSS文件，有点废话-->
<script type="text/javascript" src="__PUBLIC__/Shearphoto/shearphoto_common/js/ShearPhoto.js"></script>
<!--ShearPhoto的核心文件 截取，拖拽，HTML5切图，数据交互等都是由这个文件处理，全部由明哥先生汗水交织而成-->
<script type="text/javascript" src="__PUBLIC__/Shearphoto/shearphoto_common/js/webcam_ShearPhoto.js"></script>
<!--在线拍照那个FLASH的接口，非技术性文件-->
<script type="text/javascript" src="__PUBLIC__/Shearphoto/shearphoto_common/js/alloyimage.js"></script>
<!--图片特效处理,他只负责特效，其他功能与这个文件完全无关，这个JS从腾讯AI文件  如你不要特效的话，顺带删除这个文件，在hendle.js设置关闭特效-->
<script type="text/javascript" src="__PUBLIC__/Shearphoto/shearphoto_common/js/handle.js"></script>
<!--设置和处理对象方法的JS文件，要修改设置，请进入这个文件-->
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8">
    window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
    window.onload = function(){
        window.UEDITOR_CONFIG.initialFrameHeight=300;//编辑器的高度
        UE.getEditor('content');
    };

    function openShearPhoto(){
        document.getElementById("shearphotoDiv").style = "display:block";
    }

</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{:U('News/addNewsHandler')}" method="post">
    <table>
        <tr>
            <td>
                标题：<input type="text" name="title"/>
            </td>
        </tr>
        <tr>
            <td>
                作者：{$Think.session.realname}
                <input type="hidden" name="author" value="{$Think.session.realname}"/>
            </td>
        </tr>
        <tr>
            <td>
                标题图片：<input type="button" value="上传图片" onclick="openShearPhoto()"/>
            </td>
        </tr>
        <tr>
            <td><div id="pic_hint">未上传图片</div><br><img src="__PUBLIC__/Image/no_image.png" ></td>
        </tr>
        <tr>
            <td>
                摘要：<input type="text" name="abstract"/>
            </td>
        </tr>
        <tr>
            <td>
                内容：<br>
                <textarea id="content" name="content"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="添加动态"/>
            </td>
        </tr>
    </table>
</form>

</body>
</html>