<!DOCTYPE html>
<html lang="zh-CN">
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.min.js"></script>
<script src="__PUBLIC__/Jcrop/js/jquery.min.js"></script>
<script src="__PUBLIC__/Jcrop/js/jquery.Jcrop.js"></script>
<script src="__PUBLIC__/Jcrop/jcrop.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Jcrop/demos/demo_files/main.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/Jcrop/demos/demo_files/demos.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/Jcrop/css/jquery.Jcrop.css" type="text/css" />
<script type="text/javascript">
    window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
    window.onload = function(){
        window.UEDITOR_CONFIG.initialFrameHeight=300;//编辑器的高度
        ue = UE.getEditor('content');
        //判断ueditor 编辑器是否创建成功
        ue.addListener("ready", function () {
            // editor准备好之后才可以使用
            ue.setContent('{$news.content}');
        });
    }


    $(document).ready(function(){
        //选择文件成功则提交表单
        $("#upload_file").change(function(){
            if($("#upload_file").val() != '') $("#submit_form").submit();
        });
        //iframe加载响应，初始页面时也有一次，此时data为null。
        $("#exec_target").load(function(){
            var data = $(window.frames['exec_target'].document.body).find("textarea").html();
            //若iframe携带返回数据，则显示在feedback中
            if(data != null){
                $("#preview").append(data.replace(/&lt;/g,'<').replace(/&gt;/g,'>'));
                $("#upload_file").val('');
                $('#cropbox').Jcrop({
                    aspectRatio: 1,
                    onSelect: updateCoords
                });
            }
        });
    });

    $(function(){
        $('#cropbox').Jcrop({
            aspectRatio: 1,
            onSelect: updateCoords
        });

    });

    function jcrop(url){
        xx = document.getElementById("x").value;
        yy = document.getElementById("x").value;
        ww = document.getElementById("x").value;
        hh = document.getElementById("x").value;
        var aj = $.ajax( {
            url:url,// 跳转到 action
            data:{
                imgName : '{$imgName}',
                tmpImgName : '{$tmpImgName}',
                x : xx,
                y : yy,
                w : ww,
                h : hh
            },
            type:'post',
            cache:false,
            dataType:'json',
            success:function(data) {
                if(data.error_code == 0 ){
                    alert("上传成功！");
                }else{
                    alert(data.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
        hideJcrop();
        document.getElementById("imgView").innerHTML = "<img src='{:C('IMG_LOADING')}' />";
        setTimeout(function () {
            document.getElementById("imgView").innerHTML = "<img src='{$imgViewPath}' />";
        }, 3000);
    }

    function showJcrop(){
        document.getElementById("newsInfoDiv").style = "display:none";
        document.getElementById("jcropDiv").style = "display:block";
    }

    function hideJcrop(){
        document.getElementById("newsInfoDiv").style = "display:block";
        document.getElementById("jcropDiv").style = "display:none";
    }

</script>
<head>
    <meta charset=utf-8 />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">
    <title>编辑动态</title>
</head>

<body >
<form action="{:U('News/editNewsHandler')}" method="post">
    <div id="newsInfoDiv">
        <div class="news-title">
            标&nbsp;&nbsp;&nbsp;&nbsp;题：
            <input type="text" name="title" value="{$news.title}" />
            <input type="hidden" name="id" value="{$news.id}" />
        </div>

        <div class="news-title">
            作&nbsp;&nbsp;&nbsp;&nbsp;者：{$Think.session.realname}
            <input type="hidden" name="author" value="{$Think.session.realname}" />
        </div>
        <div class="news-title">
            摘&nbsp;&nbsp;&nbsp;&nbsp;要：
            <input type="text" name="abstract" value="{$news.abstract}" />
        </div>

        <div class="news-title" >
            <input type="button" value="上传图片" onclick="showJcrop()">
            <br>
            <div id="imgView"></div>
        </div>
        <div class="news-title">
            内&nbsp;&nbsp;&nbsp;&nbsp;容：

            <textarea id="content" name="content"></textarea>
        </div>
        <div class="news-title">
            <input type="submit" value="提交" />
            <input type="reset" value="重写" />
        </div>

    </div>

</form>

<div id="jcropDiv" style="display:none">
    <form id="submit_form" method="post" action="{:U('News/uploadHandler')}" target="exec_target" enctype="multipart/form-data">
        <input type="hidden" name="tmpImgName" value="{$tmpImgName}"/>
        <input type="file" name="upload_file" id="upload_file">
    </form>
    <iframe id="exec_target" name="exec_target" style="display:none"></iframe>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="jc-demo-box">
                    <div class="page-header">
                        <ul class="breadcrumb first">
                        </ul>
                        <h1>图片截取</h1>
                    </div>
                    <div id="preview">
                    </div>
                    <!-- This is the form that our event handler fills -->
                    <form action="{:U('News/jcrop')}" method="post" onsubmit="return checkCoords();">
                        <input type="hidden" id="x" name="x" />
                        <input type="hidden" id="y" name="y" />
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />
                        <input type="hidden" name="imgName" value="{$imgName}" />
                        <input type="hidden" name="tmpImgName" value="{$tmpImgName}"/>
                        <!--<input type="submit" value="截取保存" class="btn btn-large btn-inverse" />-->
                        <a href="#" onclick="jcrop('{:U('News/jcrop')}')" class="btn btn_large btn-inverse">截取保存</a>
                    </form>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>
