<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑视频</title>
</head>
<body>
<form action="{:U('Video/editVideoHandler')}" method="post" enctype="multipart/form-data" >
    <div>
        视频集：{$video.father}
        <input type="hidden" name="videoId" value="{$video.video_id}"/>
        <input type="hidden" name="setId" value="{$video.set_id}"/>
    </div>
    <div>视频编号：<input type="text" name="sortNum" value="{$video.sort_num}"/></div>
    <div>视频名称：<input type="text" name="name" value="{$video.name}"/></div>
    <div>视频地址：</div>
    <div><textarea name="video_url">{$video.video_url}</textarea></div>
    <div>视频字幕:</div>
    <div><input type="file" name="upload_file" id="upload_file"></div>
    <div><input type="submit" value="提交"/></div>
</form>
</body>
</html>