<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript">
    function resetInfo(){
        document.getElementById("password").value = "";
        document.getElementById("newPassword").value = "";
        document.getElementById("volidatePassword").value = "";
    }

    function checkPassword(){
        var password = document.getElementById("newPassword").value;
        var volidatePassword = document.getElementById("volidatePassword").value;
        if( password != volidatePassword ){
            document.getElementById("isSame").innerHTML = "两次密码输入不一致！";
            document.getElementById("submit").setAttribute("disable","true");
        }else{
            document.getElementById("submit").setAttribute("disable","false");
        }
    }
</script>

<body>
    <form action="{:U('Login/modifyPasswordHandler')}" method="post">
        <table>
            <tr>
                <td>用户名：</td>
                <td>{$username}</td>
                <td><input type="hidden" name="username" value="{$username}"/></td>
            </tr>
            <tr>
                <td>原密码：</td>
                <td><input type="password" id="password" name="password" value="{$password}"/></td>
            </tr>
            <tr>
                <td>新密码：</td>
                <td><input type="password" id="newPassword" name="newPassword"/></td>
            </tr>
            <tr>
                <td>确认密码：</td>
                <td><input type="password" id="volidatePassword" name="volidatePassword" onblur="checkPassword()"/><div id="isSame"></div></td>
            </tr>
            <tr>
                <td><input type="submit" id="submit" value="修改密码"/></td>
            </tr>
            <tr>
                <td><input type="button" value="重置" onclick="resetInfo()"/></td>
            </tr>
        </table>
    </form>
</body>
</html>